.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(218, 165, 32, 0.91);
}

form {
    width: 40%;
    margin: auto;
    padding-top: 80px;
    opacity: 0.8;
}

p {
    font-size: 12px;
    margin-left: 240px;
    padding-top: 5px;
}

span {
    font-size: 14px;
    margin-left: 100px;
}

.bg {
    background-color: papayawhip;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.58);
}

form .btn {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

input {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

input:hover{
    border: 1px solid goldenrod;
}